<h1>Merchant Dashboard</h1>
<h2><%= @merchant.name %></h2>
<p><%= @merchant.address %>
<p><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %>
<h2><%= link_to "Merchant Items", "/merchant/items" %></h2>
<section class= 'grid-container'>
  <section class = 'grid-item-light'>
    <section id="to-do-list">
      <h2>** TO DO: **</h2>
      <h4>My Items That Need Images</h4>
      <% if !(@merchant.items_with_default_images == []) %>
        <ul>
          <% @merchant.items_with_default_images.each do |item| %>
            <li><%= link_to item.name, "/merchant/items/#{item.id}/edit"%></li>
          <% end %>
        </ul>
      <% else %>
        <p>No images to update!</p>
      <% end %>
    </section>
  </section>
  <section class = 'grid-item-light'>
    <h2>Orders</h2>
    <% @merchant.pending_orders.each do |order| %>
      <p>Order ID: <%= link_to "#{order.id}", "/merchant/orders/#{order.id}" %></p>
      <p>Date Created: <%= order.created_at.to_date %></p>
      <p>Merchant Items: <%= order.merchant_order_items_count(@merchant.id) %></p>
      <p>Total Merchant Items Value: <%= number_to_currency(order.merchant_grandtotal(@merchant.id)) %></p>
    <% end %>
  </section>
  <section class = 'grid-item-light'>
    <section id="merchant-discounts">
    <h2><%= link_to 'My Discounts', "/merchant/discounts" %></h2>
    <% @merchant.discounts.each do |discount| %>
      <section id="discount-<%= discount.id %>">
        <h3><%= link_to discount.name, "/merchant/discounts/#{discount.id}" %></h3>
        <p><%= link_to 'Edit Discount', "/merchant/discounts/#{discount.id}/edit"%></p>
        <p><%= link_to 'Delete Discount', "/merchant/discounts/#{discount.id}", method: :delete%></p>
      </section>
    <% end %>
    <h2><%= link_to 'Create New Discount', "/merchant/discounts/new" %>
    </sction>
  </section>
</section>
