<h2>Edit Password</h2>

<%= form_for current_user, url: '/users', method: :patch do |f|%>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  <%= f.submit "Update Password" %>
<% end %>