<p>Name: <%= @user.name %></p>
<p>Address: <%= @user.address %></p>
<p>City: <%= @user.city %></p>
<p>State: <%= @user.state %></p>
<p>Zip: <%= @user.zip %></p>
<p>Email: <%= @user.email %></p>


<%= link_to "Edit Password", "/profile/password/edit" %></br>
<%= link_to "Edit My Profile", "/profile/edit" %>
<% if !(@user.orders.empty?) %>
  <%= link_to "My Orders", "/profile/orders" %>
<%end%>