<h1><%= @merchant.name %> Items</h1>
<%= link_to 'Add New Item', '/merchant/items/new' %>
<section class="grid-container">
  <% @merchant.items.each do |item| %>
  <section class="grid-item" id='item-<%=item.id%>'>
    <h2><%=link_to item.name, "/items/#{item.id}" %></h2>
    <%=link_to image_tag(item.image), "/items/#{item.id}" %>
    <p> <%= item.description%></p>
    <p>Price: <%=number_to_currency(item.price) %></p>
    <p>Inventory: <%= item.inventory %></p>
    <p><%= button_to 'Edit', "/merchant/items/#{item.id}/edit" %></p>
      <% if item.active? %>
      <p>Active <%= button_to 'Deactivate', "/merchant/items/#{item.id}?type=deactivate", method: :patch %></p>
      <% else %>
      <p>Inactive <%= button_to 'Activate', "/merchant/items/#{item.id}?type=activate", method: :patch %></p>
      <% end %>
      <% if item.no_orders? %>
      <p><%= button_to 'Delete', "/merchant/items/#{item.id}", method: :delete %></p>
      <% end %>
  </section>
  <% end %>
</section>