<h1>My Discounts</h1>
<%= @discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <h3><%= link_to discount.name, "/merchant/discounts/#{discount.id}"%></h3>
    <p><%= discount.percentage %></p>
    <p><%= discount.item_amount %></p>
  </section>
<% end %>